@{
    ViewBag.Title = "CRMALL";
}

<div class="jumbotron">
    <h1>Cadastro cliente CRMALL</h1>
    <p class="lead"></p>
    @Html.ActionLink("Listar clientes", "Index", "Cliente", null, new { @class = "btn btn-primary btn-lg" })
</div>